@using AndersonFormsWeb.Models;

@foreach (var requirement in Model.Requirements)
{
        <div class="col-sm-3">
           <input type="checkbox"/>@requirement.Name
        </div>
}



 

