@using AndersonFormsWeb.Models;

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2><br />

<form method="post" action="~/RollIn/Create">
    <div class="row">
        @Html.Partial("~/Views/Employee/_Employee.cshtml")
    </div>
    <div class="row">
        @Html.Partial("~/Views/Requirement/_Requirements.cshtml")
    </div>
   <input type="submit" class="btn btn-success btn-md" value="Submit" />
</form>
