
@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>
<html>
<body>
    <div class="container">
         <div class="fa-align-left">
             Employee ID :<input type="text" name="Employee.EmployeeId" /><br />

         </div>
     </div>
</body>
</html>

